div.para {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-rule: 2px solid steelblue;
    column-rule: 2px solid steelblue;
    border: 2px solid steelblue;
    background-color: ghostwhite;
}